fastapi
uvicorn
gunicorn
sqlalchemy
psycopg2-binary
pydantic-settings
python-dotenv
pinecone
pytesseract
pdf2image
Pillow
sentence-transformers
pdfminer.six
requests
tiktoken
sarvamai
PyPDF2
langchain-core
langchain-huggingface
langchain-openai
langchain-google-genai
langchain-groq
